main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

main li {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin-bottom: 2rem;
    width: 50%;
    padding: 10px;
    display: flex;
}

.product-image {
    width: 100px;
    margin-right: 15px;
    border-radius: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-link {
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
}

.product-quantity {
    color: inherit;
    font-size: 0.875rem;
}