<%- include('../includes/head.ejs') %> 
</head>
<body class="vh-100 d-flex flex-column">
    <%- include('../includes/navigation.ejs') %> 
    <main class="d-flex flex-column container flex-grow-1">
        <h1>Cart</h1>
    </main>

    <%- include('../includes/footer.ejs') %> 